/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 20px auto;
  width: 400px;
}

h2 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  margin: 0 0 15px;
}

ul > li {
  margin: 0 0 5px 0;
}

.logo {
  height: 50px;
  width: 400px;
}

.header-menu {
  float: right;
  font-size: 12px;
  font-weight: normal;
}

input[type="text"], textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 400px;
}

textarea {
  height: 160px;
}

.error {
  color: tomato;
  font-size: 12px;
  font-weight: bold;
}

.command {
  font-size: 12px;
}

h3 {
  font-size: 14px;
  padding-top: 25px;
}
